In [2]:
import pandas as pd
import numpy as np

# One-hot-Encoding

In [152]:
df_part.dtypes

patient_id          int64
sex                object
birth_year        float64
age                object
province           object
city               object
infection_case     object
contact_number    float64
dtype: object

In [153]:
pd.get_dummies(df_part)

,patient_id,birth_year,contact_number,sex_female,sex_male,age_0s,age_100s,age_10s,age_20s,age_30s,...,infection_case_Pilgrimage to Israel,infection_case_River of Grace Community Church,infection_case_Seongdong-gu APT,infection_case_Shincheonji Church,infection_case_Suyeong-gu Kindergarten,infection_case_contact with patient,infection_case_etc,infection_case_gym facility in Cheonan,infection_case_gym facility in Sejong,infection_case_overseas inflow
0,1000000001,1964.000000,75.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1000000002,1987.000000,31.0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,1000000003,1964.000000,17.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1000000004,1991.000000,9.0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,1000000005,1992.000000,2.0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3383,7000000009,1975.068329,14.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3384,7000000010,1975.068329,18.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3385,7000000011,1975.068329,5.0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3386,7000000012,1975.068329,9.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3387,7000000013,1975.068329,6.0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [156]:
df1 = pd.get_dummies(df_part["infection_case"])
df1

,Bonghwa Pureun Nursing Home,Changnyeong Coin Karaoke,Cheongdo Daenam Hospital,Dongan Church,Eunpyeong St. Mary's Hospital,Geochang Church,Guro-gu Call Center,Gyeongsan Cham Joeun Community Center,Gyeongsan Jeil Silver Town,Gyeongsan Seorin Nursing Home,...,Pilgrimage to Israel,River of Grace Community Church,Seongdong-gu APT,Shincheonji Church,Suyeong-gu Kindergarten,contact with patient,etc,gym facility in Cheonan,gym facility in Sejong,overseas inflow
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3383,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3385,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3386,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3387,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [164]:
pd.concat([df_part,df1],axis=1)

,patient_id,sex,birth_year,age,province,city,infection_case,contact_number,Bonghwa Pureun Nursing Home,Changnyeong Coin Karaoke,...,Pilgrimage to Israel,River of Grace Community Church,Seongdong-gu APT,Shincheonji Church,Suyeong-gu Kindergarten,contact with patient,etc,gym facility in Cheonan,gym facility in Sejong,overseas inflow
0,1000000001,male,1964.000000,50s,Seoul,Gangseo-gu,overseas inflow,75.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1000000002,male,1987.000000,30s,Seoul,Jungnang-gu,overseas inflow,31.0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1000000003,male,1964.000000,50s,Seoul,Jongno-gu,contact with patient,17.0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1000000004,male,1991.000000,20s,Seoul,Mapo-gu,overseas inflow,9.0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1000000005,female,1992.000000,20s,Seoul,Seongbuk-gu,contact with patient,2.0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3383,7000000009,female,1975.068329,20s,Jeju-do,Jeju-do,overseas inflow,14.0,0,0,...,0,0,0,0,0,0,0,0,0,1
3384,7000000010,female,1975.068329,20s,Jeju-do,Jeju-do,overseas inflow,18.0,0,0,...,0,0,0,0,0,0,0,0,0,1
3385,7000000011,male,1975.068329,30s,Jeju-do,Jeju-do,contact with patient,5.0,0,0,...,0,0,0,0,0,1,0,0,0,0
3386,7000000012,female,1975.068329,20s,Jeju-do,Jeju-do,overseas inflow,9.0,0,0,...,0,0,0,0,0,0,0,0,0,1
3387,7000000013,female,1975.068329,10s,Jeju-do,Jeju-do,overseas inflow,6.0,0,0,...,0,0,0,0,0,0,0,0,0,1

.

# Data binning

In [8]:
df = pd.read_excel('./BostonHousing.xls')
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,0
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,0
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,0
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,0

In [9]:
df["MEDV"].max()

50.0

In [10]:
bins = [0,10,20,30,40,50]
group_names = ['verylow', 'low', 'okay','high','veryhigh']
categories = pd.cut(df['MEDV'], bins, labels = group_names)
categories

0      okay
1      okay
2      high
3      high
4      high
       ...
501    okay
502    okay
503    okay
504    okay
505     low
Name: MEDV, Length: 506, dtype: category
Categories (5, object): ['verylow' < 'low' < 'okay' < 'high' < 'veryhigh']

In [11]:
df['categories'] = pd.cut(df['MEDV'], bins, labels = group_names)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CAT. MEDV,categories
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0,okay
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0,okay
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1,high
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1,high
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,0,okay
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,0,okay
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,0,okay
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,0,okay
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,0,low

In [12]:
pd.value_counts(df['categories'])

okay        207
low         191
high         53
veryhigh     31
verylow      24
Name: categories, dtype: int64

.

# label encoding by sklearn